# Python cache files
__pycache__/
*.pyc

# Virtual environment folders
venv/
.venv/

# Our image source/work-in-progress files
_mat/

# Build
build/
dist/
venv-build-cpu/
venv-build-gpu/
PlotCaption-CPU.zip
PlotCaption-GPU.zip


# Other
.idea
tcl