accelerate
certifi
charset-normalizer
colorama
filelock
fsspec
huggingface-hub
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy
packaging
pillow
psutil
PyYAML
regex
requests
safetensors
setuptools
sympy
tkinterdnd2
tokenizers
torch
torchvision
tqdm
transformers
typing_extensions
urllib3
tiktoken
qwen-vl-utils
